<div class="row mt-5 justify-content-center">
    <div class="col-4">
        <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <a routerLink="/escola">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 font-weight-bold text-primary text-uppercase mb-1">escolas</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-graduation-cap fa-2x"></i>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <a routerLink="/turma">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 font-weight-bold text-success text-uppercase mb-1">turmas</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-graduation-cap  fa-2x text-success"></i>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <img class=" img-fluid px-3 px-sm-4 mt-3 mb-4" src="assets/img/undraw_researching_22gp.svg" alt="">
    </div>
</div>